/* Importando fonte: Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {

  padding: 70px 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ec362d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header a {

  text-decoration: none;
  color: inherit;
}

header h1 {

  text-align: center;
  font-size: 43px;
  font-weight: 700;
  color: #FFFFFF;
}

/*-----------------------------------------------------------QUIZ PAGE STYLE-----------------------------------------------------------------------------------*/

.quiz-page-container {

  font-weight: 700;
  color: #FFFFFF;
  word-break: break-word;
}

.quiz-page-title {

  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-overlay {
  width: 100%;
  background-color: #000000;
}

.quiz-page-title img {
  width: 100%;
  max-height: 300px;
  opacity: 0.6;
}

.quiz-page-title h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  padding: 0 20px;
  position: absolute;
}

.quiz-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.quiz-page-card {
  width: 760px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}

.card-title {
  width: 90%;
  height: 138px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title h3 {
  font-size: 23px;
  text-align: center;
  line-height: 31px;
  padding: 0 20px;
}

.card-questions {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-content img {

  width: 330px;
  height: 176px;
  cursor: pointer;
}

.card-content h4 {

  font-size: 20px;
  line-height: 26px;
  color: #000000;
  width: 320px;
  cursor: pointer;
}

.card-opacity {
  opacity: 0.3;
  word-break: break-word;
}

.wrong-answer h4 {

  color: #FF4B4B;
}

.correct-answer h4 {

  color: #009C22;
}

.quiz-page-final-card {

    width: 760px; 
    padding: 20px 0;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}

.quiz-page-final-card .card-title {
  height: 100px;
  background-color: #ec362d;
}

.quiz-page-final-card h3 {

    font-size: 23px;
    line-height: 30px;
    text-align: center;
}

.final-card-content {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}

.final-card-content img {
  width: 364px;
  height: 273px;
}

.final-card-content h4 {

    font-size: 20px;
    line-height: 26px;
    color: #484848;
}

.quiz-page-buttons {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quiz-page-buttons button {
  cursor: pointer;
  font-size: 21px;
  font-weight: 400;
}

.reset-quiz {
  color: #fff5f4;
  width: 260px;
  height: 52px;
  background: #ec362d;
  border-radius: 15px;
  border: none;
  outline: none;
  transition: all 0.25s;
}

.reset-quiz:hover {

  opacity: 0.8;
}

.return-home {
  color: #818181;
  width: 260px;
  height: 52px;
  background: none;
  border: none;
  outline: none;
  transition: all 0.25s;
}

.return-home:hover {

  text-decoration: underline #818181 2px;
}

.container{
  margin-top: 63px;
}

.page-create-quizz{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
/* .page-create-quizz {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 63px auto;
} */

.page-create-quizz .title {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 27px;
}

.page-create-quizz .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 16px;
}

.page-create-quizz .subtitle{
  width: 100%;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05)
}

.page-create-quizz input{
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 9px;
    font-size: 19px;

  font-weight: 400;
}

.page-create-quizz input:last-child {
  margin-bottom: inherit;
}

.page-create-quizz input::placeholder {
  font-style: italic;
  color: #bababa;
}

.page-create-quizz button {
  width: 369px;
  height: 54px;
  background-color: #ec362d;
  color: #ffffff;
  border-radius: 15px;
  font-size: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  align-self: center;
  margin-top: 109px;
  cursor: pointer;
}


.page-create-quizz .quizz-preview{
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: auto;
}

.quizz:hover {
  filter: brightness(0.9);
}

.quizz-preview img{
    width: 500px;
    height: 266px;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%)
}

.quizz-preview .title-quizz {
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;

    position: absolute;
    bottom: 0;
    left: 0;
    word-break: break-all;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.page-create-quizz button:hover {
  /* transform: scale(1.1);
    transition: all 0.5s; */
  transition: 0.3s;
  opacity: 0.7;
}

.page-create-quizz .inputs .title-icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.title-icon ion-icon {
  font-size: 30px;
  cursor: pointer;
}

.subtitle-answer {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}


.create-answers {
  padding-bottom: 25px;
}

.page-create-quizz .acess-quizz {
  margin: 45px 0 0;
}

.page-create-quizz .back-home {
  margin: 10px 0 0;
  background-color: transparent;
  color: #818181;
}

/*-----------------------------------------------------------FIRST PAGE STYLE-----------------------------------------------------------------------------------*/

.first-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 77px;
}

.user-quizzes-container-empty {
  width: 1051px;
  height: 181px;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 77px;
}

.message-container {
  width: 250px;
  height: 107px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}

.create-quiz-btn {
  width: 151px;
  height: 40px;
  border-radius: 50px;
  border: 1px dashed #ec362d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  cursor: pointer;
}

.create-quiz-btn p {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #ec362d;
}

.user-quizzes-container-regular {
  width: 1051px;
  margin-bottom: 48px;
}

.user-quizzes-container-regular .header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}

.user-quizzes-container-regular .header > h1 {
  width: 122px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.user-quizzes-container-regular .header ion-icon {
  width: 31px;
  height: 30px;
  color: red;
  cursor: pointer;
}

.user-quizzes-container-regular .quizzes-container .quiz {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.62%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.all-quizzes-container {
  width: 1051px;
}

.all-quizzes-container > h2 {
  width: 158px;
  height: 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  align-self: left;
  margin-bottom: 12px;
}

.quizzes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.quiz {
  width: 340px;
  height: 181px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  border-radius: 5px;
  cursor: pointer;
}

.quiz img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
  z-index: -2;
}

.quiz h1 {
  position: absolute;
  width: 283px;
  height: auto;
  left: 18px;
  bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-break: break-word;
  margin-bottom: 7px;
}

.bonus-buttons {
  position: absolute;
  top: 9px;
  right: 0;
  width: 43px;
  height: 87px;
  background-color: #ec362d;
  color: white;
  border-radius: 10px 0 0 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  z-index: 1;
}

.bonus-buttons ion-icon {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.loading-screen {
  width: 1051px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #FAFAFA;
  min-width: 340px;
  
}

.loading-screen h1 {
  width: 130px;
  height: 29px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #ec362d;
  margin-top: 24px;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: blue;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
/* Layout mobile */



/*-----------------------------------------------------------QUIZ PAGE STYLE-----------------------------------------------------------------------------------*/


@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* Layout mobile */

@media (max-width: 1110px) {

  header h1 {

      font-size: 38px;
  }

  /*-----------------------------------------------------------QUIZ PAGE STYLE-----------------------------------------------------------------------------------*/

  .quiz-page-title img {
    max-height: 200px;
  }

  .quiz-page-title h1 {
    font-size: 20px;
    line-height: 30px;
  }

  .quiz-page-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-title {
    height: 100px;
  }

  .card-title h3 {
    font-size: 19px;
    line-height: 26px;
  }

  .card-content img {
    width: 100%;
    height: 113px;
  }

  .card-content h4 {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    max-width: 163px;
  }

  .card-questions {
    display: grid;
    grid-template-columns: auto auto;
  }

  .quiz-page-final-card {
    width: 100%;
  }

  .final-card-content {
    flex-direction: column;
  }

  .final-card-content img {
    width: 100%;
  }

  .final-card-content h4 {
    font-size: 17px;
    line-height: 24px;
  }

  .quiz-page-buttons {
    width: 100%;
  }

  .quiz-page-buttons button {
    width: 70%;
  }

  /*-----------------------------------------------------------FIRST PAGE STYLE-----------------------------------------------------------------------------------*/

  .first-page-content,
  .user-quizzes-container-empty,
  .user-quizzes-container-regular,
  .all-quizzes-container,
  .quizzes-container,
  .quiz,
  .loading-screen {
    width: 100%;
  }

    .first-page-container,
    .first-page-content,
    .user-quizzes-container-empty,
    .user-quizzes-container-regular,
    .all-quizzes-container,
    .quizzes-container,
    .quiz,
    .quiz h1 {
        width: 100%;
    }
  .quizzes-container {
    flex-direction: column;
    align-items: center;
  }

  .first-page-content {
    margin: 31px 17px 0 18px;
  }

  .user-quizzes-container-empty {
    margin-bottom: 35px;
    max-width: 340px;
  }

  .user-quizzes-container-regular {
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-quizzes-container-regular .header {
    justify-content: space-between;
    min-width: 340px;
  }

  .all-quizzes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .all-quizzes-container > h1 {
    margin-right: 180px;
  }

    .first-page-container {
        display: flex;
    }


/* -------------------------------------------------- CREATE QUIZ --------------------------------------------- */

    .container{
      width: 100%; 
    }
    

    .page-create-quizz .final{
      width: 100%;
      margin: 0 auto;
    }

    .quizz-preview{
      width: 100%;
      padding: 20px;
      /* margin: -63px 0; */

    }

    .quizz-preview img{
      width: 340px;
      height: 181px;
    }

    .page-create-quizz{
      width: 100%;
    }

    .subtitle{
      width: 100%;
    }

    .page-create-quizz button{
      margin: 53px 0;
      max-width: 323px;
      font-size: 17px;

    }

    .quizz-preview .title-quizz{
      left: 20px;
      bottom: 20px;
      font-size: 18px;
    }



  .quiz {
    max-width: 340px;
  }
}


.hidden {
  display: none;
}
